@font-face {
  font-family: pusheenFont;
  src: url(./pusheenFont.ttf);
}
@-webkit-keyframes fadeOutUpWait {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}
.fadeOutUpWait {
  -webkit-animation-name: fadeOutUpWait;
}

#avatar-wrap {
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  min-height: 200px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fcf0e4;
  position: fixed;
  right: 30px;
  bottom: 90px;
  z-index: 3;
}
#avatar-wrap .hide {
  display: none !important;
}
#avatar-wrap .sneak {
  opacity: 0;
  pointer-events: none;
}
#avatar-wrap .no {
  display: none !important;
}
#avatar-wrap .avatar-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 140px;
  cursor: pointer;
  z-index: 3;
}
#avatar-wrap .level-up-message {
  font-size: 40px;
  font-weight: bold;
  color: #5ED311;
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  top: -25px;
  text-align: center;
  display: block;
}
#avatar-wrap .action-buttons {
  position: absolute;
  top: -30px;
  left: -75px;
  z-index: 2;
}
#avatar-wrap .action-buttons .button {
  position: relative;
  padding: 10px;
  height: 56px;
  width: 56px;
  font-family: pusheenFont;
  font-size: 13px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  background: #fcf0e4;
  color: #66482e;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
#avatar-wrap .action-buttons .button:hover {
  font-size: 14px;
}
#avatar-wrap .action-buttons .button:active {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  background: #f7d6b6;
}
#avatar-wrap .action-buttons .button:nth-child(1) {
  left: 56px;
  margin-bottom: 0;
}
#avatar-wrap .action-buttons .button:nth-child(3) {
  left: 10px;
  margin-bottom: 3px;
}
#avatar-wrap .action-buttons .button:nth-child(4) {
  left: 34px;
}
#avatar-wrap .action-buttons .button.close {
  position: absolute;
  top: -40px;
  left: 25px;
  font-size: 17px;
  height: 60px;
  width: 60px;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
#avatar-wrap .costumes {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 10px;
  right: 100px;
  padding: 20px;
  padding-right: 30px;
  max-height: 220px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fcf0e4;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  width: 440.0px;
  max-width: 440.0px;
}
#avatar-wrap .costumes::-webkit-scrollbar {
  position: absolute;
  width: 8px;
  padding-right: -8px;
}
#avatar-wrap .costumes::-webkit-scrollbar-thumb {
  background: #d1c8c0;
  -webkit-border-radius: 1ex;
}
#avatar-wrap .costumes::-webkit-scrollbar-corner {
  background: #000;
}
#avatar-wrap .costumes .costume-img-wrap {
  position: relative;
  min-height: 103px;
  min-width: 20%;
  background: #fcf0e4;
  margin: 10px;
  cursor: pointer;
}
#avatar-wrap .costumes .costume-img-wrap .name-wrap {
  left: -10%;
  top: -10px;
  position: absolute;
  width: 100%;
  z-index: 2;
}
#avatar-wrap .costumes .costume-img-wrap .name {
  display: none;
  white-space: nowrap;
  background: #fcf0e4;
  color: #66482e;
  font-size: 15px;
  font-family: pusheenFont;
}
#avatar-wrap .costumes .costume-img-wrap:hover .name {
  display: inline-block;
}
#avatar-wrap .costumes .costume-img-wrap:nth-child(3n + 1) {
  clear: left;
}
#avatar-wrap .costumes .costume-img {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  margin: auto;
  max-height: 100px;
  height: 100px;
}
#avatar-wrap .test-buttons {
  position: absolute;
  right: 60px;
  bottom: -50px;
}
#avatar-wrap .test-buttons .button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  background: #000080;
  color: white;
}
#avatar-wrap .button {
  -webkit-appearance: none;
  border-style: none;
  cursor: pointer;
  outline: none;
}
#avatar-wrap .button:focus {
  outline: none;
}
