#avatar-wrap{
	width: 120px;
	height: 120px;

	position:fixed;

	right: 0;
	bottom: 90px;

	// a z-index of <3 puts it under the action icons
	// a z-index of >21 puts it over the compose buttons
	z-index: 3;


	.avatar-img{
		max-width: 120px;
	}
}

// button.dr.et{
// 	z-index: 20 !important;
// }

// .section-header{
// 	z-index: 4;
// }

// .af-b4-bK{
// 	z-index:1;
// }