{{! <div id="avatar-wrap"> }}
	

<img class="{{imgClass}}" id="avatar-1" src="{{avatar.currentSrc}}">


<div class="action-buttons hide">
	<button class="button {{hideActionButtonClass}} hide"> x </button>
	
	<button class="button {{foodButtonClass}} hide"> FEED </button>
	<button class="button {{playButtonClass}} hide"> PLAY </button>

	{{#isDev}}
		<button class="button {{anyButtonClass}} hide no"> ooo </button>
	{{/isDev}}

</div>


<div class="test-buttons {{^isDev}} hide {{/isDev}}">
	{{avatar.xp}}, {{avatar.level}}	
	
	<button class="button level-up-button">Level Up Test</button>

</div>
{{! </div> }}
