{{! <div id="avatar-wrap"> }}
	

<img class="{{imgClass}}" id="avatar-1" src="{{avatar.currentSrc}}">
{{avatar.level}}	

<div class="test-buttons">
	
	<button class="button level-up-button">Level Up Test</button>

</div>
{{! </div> }}
